{% extends 'base.html' %}

{% block title %}Naturbienen.de{% endblock %}

{% with active_link="shop" %}
{% endwith %}

{% block header %}
<div class="header">
    <div class="header-content">
        <h1>Naturbienen</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>Honig</h2>
<article>
    <h3>Allgemeine Informationen</h3>
    <p>
        Mein Honig stammt direkt aus meinem Kleingarten im Kleingartenverein 142, Parzelle 229, und aus Billwerder. 
        Du kannst ihn vor Ort im Kleingartenverein 142, Horner Marsch, an der Parzelle 229 persönlich kaufen - ganz ohne Zwischenhändler, direkt vom Imker. 
        Auf Wunsch versende ich den Honig auch per Post. Sprich mich einfach an!
    </p>
    <p>
        Honig ist ein Naturprodukt und kann im Laufe der Zeit kristallisieren oder fest werden. Wie schnell das passiert, hängt von der jeweiligen Sorte ab. 
        Sollte der Honig zu fest sein oder grobe Kristalle bilden, lässt sich die Konsistenz leicht wiederherstellen: Erwärme das Glas schonend in einem Wasserbad bei ca. 36°C und rühre den Honig anschließend gut um.
        <br>
        So bleibt der Geschmack erhalten - ganz ohne Qualitätsverlust!
    </p>
    <p>
        <h4>Natürlich. Regional. Ehrlich.</h4>
        Mein Honig entsteht im Einklang mit der Natur - ohne chemische Zusätze, mit viel Geduld und aus reiner Handarbeit. 
        Die Bienen sammeln ihren Nektar in blühenden Gärten und Wiesen rund um Billwerder und die Horner Marsch. Jeder Ernte folgt eine sorgfältige Verarbeitung, bei der die Qualität an erster Stelle steht.
        So entsteht ein naturbelassener Honig mit echtem Charakter - direkt aus deiner Nachbarschaft.
    </p>
</article>

<article>
    <h3>Frühtrachthonig 2025</h3>
    <p>Der Frühtrachthonig 2025 ist Cremig gerührt und abgefüllt.</p>
    <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtrachthonig_2025.jpg" 
         alt="Der Frühtrachthonig vor der Wildblumenwise im Garten."
         class="responsive-picture">
</article>

<article>
    <h3>Frühtrachthonig 2025 Horner Marsch</h3>
    <div class="imageContainer" id="imageContainer1">

        <!-- [Full-width images with number text] -->
        <div class="imageSlide">
            <div class="numbertext">1 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_vorne.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_vorne_512.jpg 512w"
                 size="(max-width: 768px) 512px" 
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_hinten.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_hinten_512.jpg 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus der Horner Marsch von hinten." 
                 class="responsive-picture">
        </div>
    
        <!-- [next und previous button] -->
        <a class="prev" onclick="plusSlides(-1, 'imageContainer1')">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 'imageContainer1')">&#10095;</a>
    
        <!-- [Image text] -->
        <div class="caption-container">
            <p id="caption1"></p>
        </div>
    
        <!-- [Thumbnail images] -->
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_vorne_512.jpg" style="width:100%" onclick="currentSlide(1, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_hinten_512.jpg" style="width:100%" onclick="currentSlide(2, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch von hinten.">
            </div>
        </div>
    </div>
    <section>
       <h4>Frühjahres-Honig aus der Horner Marsch – mild, natürlich und voller Obstblütenaroma</h4>

        <p>
        Der Frühjahres-Honig aus meinem Garten in der Horner Marsch ist ein feiner, milder Obstblüten-Mix.
        Meine Bienen sammeln den Nektar vor allem von den blühenden Obstbäumen in den Streuobstwiesen und Gärten dieser Region –
        ein echtes Frühlingsparadies für die Bienen.
        </p>

        <p>
        Der Honig überzeugt durch seine cremige, zarte Konsistenz und seinen aromatischen, angenehm süßen Geschmack –
        perfekt für alle, die naturbelassene Köstlichkeiten lieben.
        </p>

        <p>
        Jedes <strong>500g-Glas</strong> enthält echten, regionalen Honig, der mit viel Sorgfalt geerntet und schonend verarbeitet wird,
        sodass alle wertvollen Inhaltsstoffe erhalten bleiben.
        </p>

        <p>
        <strong>Preis:</strong> 8,90 € pro 500g-Glas – direkt vom Imker, ohne Umwege.
        </p>

        <p>
        Genieße den <strong>Geschmack des Frühlings</strong> aus der Horner Marsch!
        </p>
    </section>
</article>

<article>
    <h3>Frühtrachthonig 2025 Billwerder</h3>
    <div class="imageContainer" id="imageContainer2">

        <!-- [Full-width images with number text] -->
        <div class="imageSlide">
            <div class="numbertext">1 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_vorne.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_vorne_512.jpg 512w"
                 size="(max-width: 768px) 512px" 
                 alt="Frühtracht Honig aus Billwerder" 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_hinten.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_hinten_512.jpg 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus Billwerder von hinten." 
                 class="responsive-picture">
        </div>
    
        <!-- [next und previous button] -->
        <a class="prev" onclick="plusSlides(-1, 'imageContainer2')">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 'imageContainer2')">&#10095;</a>
    
        <!-- [Image text] -->
        <div class="caption-container">
            <p id="caption1"></p>
        </div>
    
        <!-- [Thumbnail images] -->
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_vorne_512.jpg" style="width:100%" onclick="currentSlide(1, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_hinten_512.jpg" style="width:100%" onclick="currentSlide(2, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder von hinten.">
            </div>
        </div>
    </div>
        <section>
        
        <h4>Frühjahres-Honig aus Billwerder - Mild, cremig und mit feinem Rapsanteil</h4>

        <p>
            Mein Frühjahres-Honig aus Billwerder enthält einen Anteil Rapshonig,
            der sich sowohl in der zarten, hellgelben Farbe als auch im milden,
            cremigen Geschmack widerspiegelt. Diese Kombination macht ihn perfekt
            für alle, die einen sanften und zugleich aromatischen Honig schätzen.
        </p>

        <p>
            Der Honig wird mit viel Liebe und Sorgfalt geerntet und schonend verarbeitet,
            sodass die wertvollen Nährstoffe und das feine Aroma erhalten bleiben.
        </p>

        <h4>Preise</h4>
        <ul class="inline-list">
            <li><strong>500g-Glas:</strong> 8,90 €</li>
            <li><strong>250g-Glas:</strong> 5,50 € <em>(ab 4 Gläsern nur 5,00 € pro Stück)</em></li>
        </ul>

        <p>
            <strong>Bestelle direkt beim Imker</strong> und genieße die natürliche Frühlingsvielfalt aus Billwerder!
        </p>
        </section>

</article>

<!--
<article>
    <h3>Frühtrachthonig 2024 Horner Marsch</h3>
    <div class="imageContainer" id="imageContainer1">

        [Full-width images with number text]
        <div class="imageSlide">
            <div class="numbertext">1 / 3</div>
            <img src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch.png" 
                 srcset="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_512.png 512w"
                 size="(max-width: 768px) 512px" 
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 3</div>
            <img src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_einzelnd.png" 
                 srcset="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_einzelnd_512.png 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">3 / 3</div>
            <img src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_hinten.png" 
                 srcset="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_hinten_512.png 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
    
        [next und previous button]
        <a class="prev" onclick="plusSlides(-1, 'imageContainer1')">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 'imageContainer1')">&#10095;</a>
    
        [Image text]
        <div class="caption-container">
            <p id="caption1"></p>
        </div>
    
        [Thumbnail images]
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_512.png" style="width:100%" onclick="currentSlide(1, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_einzelnd_512.png" style="width:100%" onclick="currentSlide(2, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_hinten_512.png" style="width:100%" onclick="currentSlide(3, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
        </div>
    </div>
    <p>
        Der Frühtrachthonig aus der Horner Marsch ist dieses Jahr ein milder Obstblütenmix. Er ist feincremig und absolut lecker.
        <br><br>
        Der Honig ist als 500g Glas für 8,90€ zu erhalten. 
    </p>
</article>
<article>
    <h3>Frühtrachthonig 2024 Billwerder</h3>
    <div class="imageContainer" id="imageContainer2">

        [Full-width images with number text]
        <div class="imageSlide">
            <div class="numbertext">1 / 3</div>
                <img src="../../static/main/images/Shop/Frühtracht_2024_Billwerder.png" 
                    srcset="../../static/main/images/Shop/Frühtracht_2024_Billwerder_512.png 512w"
                    size="(max-width: 768px) 512px"
                    alt="Frühtracht Honig aus Billwerder." 
                    class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 3</div>
                <img src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd.png" 
                    srcset="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_512.png 512w"
                    size="(max-width: 768px) 512px" 
                    alt="Frühtracht Honig aus Billwerder." 
                    class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">3 / 3</div>
                <img src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_hinten.png" 
                    srcset="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_hinten_512.png 512w"
                    size="(max-width: 768px) 512px" 
                    alt="Frühtracht Honig aus Billwerder." 
                    class="responsive-picture">
        </div>

        [next und previous button]
        <a class="prev" onclick="plusSlides(-1, 'imageContainer2')">&#10094;</a>
        <a class="next" onclick="plusSlides(+1, 'imageContainer2')">&#10095;</a>

        [Image text]
        <div class="caption-container">
            <p id="caption2"></p>
        </div>

        [Thumbnail images]
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_512.png" style="width:100%" onclick="currentSlide(1, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_512.png" style="width:100%" onclick="currentSlide(2, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_hinten_512.png" style="width:100%" onclick="currentSlide(3, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder." >
            </div>

        </div>
    </div>
    <p>
        Der Frühtrachthonig aus Billwerder erinnert dieses Jahr sehr an Rapshonig. Jeder, der Rapshonig mag, wird hier auf seine Kosten kommen.
        <br><br>
        Der Honig ist als 250g Glas für 5,50€ <br>oder<br> ab 4 Gläsern für 5€ zu erhalten. 
    </p>
</article>
-->

<!--
<article>
    <h3>Sommerhonig aus 2023</h3>
    <br>
    <img    src="../../static/main/images/Shop/Sommerhoig_2023_ausverkauft_512.jpg" 
            {% comment %} srcset="../../static/main/images/Shop/Sommerhoig_2023_ausverkauft_512.jpg 512w"
            size="(max-width: 768px) 512px" {% endcomment %}
            alt="Bild des Sommerhonigs aus 2023" 
            id="responsive-picture" 
            class="shop">
    <p class="text_center">
        Der Sommerhonig aus 2023 ist ausverkauft.<br> 
        <br>Der Sommerhonig von meinen Bienen im Kleingartenverein ist durch die diesjährige Blattlauspopulation recht dunkel geworden.<br>
        Wer also einen sehr kräftigen Honig möchte, der in Richtung Waldhonig geht, sollte zum Honig aus der Horner Marsch greifen.<br>
        <br>Der Sommerhonig von meinen Bienen in Billwerder ist ein starker Blütenhonig geworden. Ein absolutes Muss für jeden Blütenhonig-Fan.<br>
    </p>
</article>
-->
<!-- JS Script -->
<script src="../../static/main/js/imageContainer2.js"></script>
{% endblock %}