{% extends 'base.html' %}

{% block title %}Naturbienen.de{% endblock %}

{% with active_link="shop" %}
{% endwith %}

{% block header %}
<div class="header">
    <div class="header-content">
        <h1>Naturbienen</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>Honig</h2>
<article>
    <h3>Allgemeine Informationen</h3>
    <p>
        Meinen Honig verkaufe ich direkt bei mir im Kleingartenverein 142 an der Parzelle 229. Auf Anfrage verschicke ich den Honig auch. 
    </p>
    <p>
        Honig kristallisiert oder wird hart. Je nach Honigsorte kann dieser Prozess schnell oder langsam verlaufen. 
        Wenn der Honig zu hart ist oder die Kristalle zu groß sind, kann man durch Erwärmen und Rühren die Konsistenz wieder verändern. 
        Dafür den Honig schonend im Wasserbad bei ca. 36 Grad Celsius erwärmen und gut durchrühren.
    </p>
</article>

<article>
    <h3>Frühtrachthonig 2025</h3>
    <p>Der Frühtrachthonig 2025 ist Cremig gerührt und abgefüllt.</p>
    <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtrachthonig_2025.jpg" 
         alt="Der Frühtrachthonig vor der Wildblumenwise im Garten.">
</article>

<article>
    <h3>Frühtrachthonig 2025 Horner Marsch</h3>
    <div class="imageContainer" id="imageContainer1">

        <!-- [Full-width images with number text] -->
        <div class="imageSlide">
            <div class="numbertext">1 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_vorne.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_vorne_512.jpg 512w"
                 size="(max-width: 768px) 512px" 
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_hinten.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_hinten_512.jpg 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus der Horner Marsch von hinten." 
                 class="responsive-picture">
        </div>
    
        <!-- [next und previous button] -->
        <a class="prev" onclick="plusSlides(-1, 'imageContainer1')">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 'imageContainer1')">&#10095;</a>
    
        <!-- [Image text] -->
        <div class="caption-container">
            <p id="caption1"></p>
        </div>
    
        <!-- [Thumbnail images] -->
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_vorne_512.jpg" style="width:100%" onclick="currentSlide(1, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_HornerMarsch_2025_hinten_512.jpg" style="width:100%" onclick="currentSlide(2, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch von hinten.">
            </div>
        </div>
    </div>
    <p>
        Der Frühtrachthonig aus der Horner Marsch ist ein milder Obstblütenmix. Er ist feincremig und absolut lecker.
        <br><br>
        Der Honig ist als 500g Glas für 8,90€ zu erhalten. 
    </p>
</article>

<article>
    <h3>Frühtrachthonig 2025 Billwerder</h3>
    <div class="imageContainer" id="imageContainer1">

        <!-- [Full-width images with number text] -->
        <div class="imageSlide">
            <div class="numbertext">1 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_vorne.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_vorne_512.jpg 512w"
                 size="(max-width: 768px) 512px" 
                 alt="Frühtracht Honig aus Billwerder" 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 2</div>
            <img src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_hinten.jpg" 
                 srcset="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_hinten_512.jpg 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus Billwerder von hinten." 
                 class="responsive-picture">
        </div>
    
        <!-- [next und previous button] -->
        <a class="prev" onclick="plusSlides(-1, 'imageContainer1')">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 'imageContainer1')">&#10095;</a>
    
        <!-- [Image text] -->
        <div class="caption-container">
            <p id="caption1"></p>
        </div>
    
        <!-- [Thumbnail images] -->
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_vorne_512.jpg" style="width:100%" onclick="currentSlide(1, 'imageContainer1')" alt="Frühtracht Honig aus Billwerder.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Fruehtracht_2025/Fruehtracht_Billwerder_2025_hinten_512.jpg" style="width:100%" onclick="currentSlide(2, 'imageContainer1')" alt="Frühtracht Honig aus Billwerder von hinten.">
            </div>
        </div>
    </div>
    <p>
        Unser Frühtrachthonig aus Billwerder enthält einen Anteil Rapshonig - ideal für alle, die den milden, cremigen Geschmack lieben.
        <br><br>
        Der Honig ist im 500g-Glas für 8,90€ oder im 250g-Glas für 5,50€ erhältlich. Ab 4 Gläsern kostet das 250g-Glas nur noch 5€ pro Stück. 
    </p>
</article>

<!--
<article>
    <h3>Frühtrachthonig 2024 Horner Marsch</h3>
    <div class="imageContainer" id="imageContainer1">

        [Full-width images with number text]
        <div class="imageSlide">
            <div class="numbertext">1 / 3</div>
            <img src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch.png" 
                 srcset="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_512.png 512w"
                 size="(max-width: 768px) 512px" 
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 3</div>
            <img src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_einzelnd.png" 
                 srcset="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_einzelnd_512.png 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">3 / 3</div>
            <img src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_hinten.png" 
                 srcset="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_hinten_512.png 512w"
                 size="(max-width: 768px) 512px"
                 alt="Frühtracht Honig aus der Horner Marsch." 
                 class="responsive-picture">
        </div>
    
        [next und previous button]
        <a class="prev" onclick="plusSlides(-1, 'imageContainer1')">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 'imageContainer1')">&#10095;</a>
    
        [Image text]
        <div class="caption-container">
            <p id="caption1"></p>
        </div>
    
        [Thumbnail images]
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_512.png" style="width:100%" onclick="currentSlide(1, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_einzelnd_512.png" style="width:100%" onclick="currentSlide(2, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_HornerMarsch_hinten_512.png" style="width:100%" onclick="currentSlide(3, 'imageContainer1')" alt="Frühtracht Honig aus der Horner Marsch.">
            </div>
        </div>
    </div>
    <p>
        Der Frühtrachthonig aus der Horner Marsch ist dieses Jahr ein milder Obstblütenmix. Er ist feincremig und absolut lecker.
        <br><br>
        Der Honig ist als 500g Glas für 8,90€ zu erhalten. 
    </p>
</article>
<article>
    <h3>Frühtrachthonig 2024 Billwerder</h3>
    <div class="imageContainer" id="imageContainer2">

        [Full-width images with number text]
        <div class="imageSlide">
            <div class="numbertext">1 / 3</div>
                <img src="../../static/main/images/Shop/Frühtracht_2024_Billwerder.png" 
                    srcset="../../static/main/images/Shop/Frühtracht_2024_Billwerder_512.png 512w"
                    size="(max-width: 768px) 512px"
                    alt="Frühtracht Honig aus Billwerder." 
                    class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">2 / 3</div>
                <img src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd.png" 
                    srcset="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_512.png 512w"
                    size="(max-width: 768px) 512px" 
                    alt="Frühtracht Honig aus Billwerder." 
                    class="responsive-picture">
        </div>
        <div class="imageSlide">
            <div class="numbertext">3 / 3</div>
                <img src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_hinten.png" 
                    srcset="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_hinten_512.png 512w"
                    size="(max-width: 768px) 512px" 
                    alt="Frühtracht Honig aus Billwerder." 
                    class="responsive-picture">
        </div>

        [next und previous button]
        <a class="prev" onclick="plusSlides(-1, 'imageContainer2')">&#10094;</a>
        <a class="next" onclick="plusSlides(+1, 'imageContainer2')">&#10095;</a>

        [Image text]
        <div class="caption-container">
            <p id="caption2"></p>
        </div>

        [Thumbnail images]
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_512.png" style="width:100%" onclick="currentSlide(1, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_512.png" style="width:100%" onclick="currentSlide(2, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder.">
            </div>
            <div class="column">
                <img class="demo cursor" src="../../static/main/images/Shop/Frühtracht_2024_Billwerder_einzelnd_hinten_512.png" style="width:100%" onclick="currentSlide(3, 'imageContainer2')" alt="Frühtracht Honig aus Billwerder." >
            </div>

        </div>
    </div>
    <p>
        Der Frühtrachthonig aus Billwerder erinnert dieses Jahr sehr an Rapshonig. Jeder, der Rapshonig mag, wird hier auf seine Kosten kommen.
        <br><br>
        Der Honig ist als 250g Glas für 5,50€ <br>oder<br> ab 4 Gläsern für 5€ zu erhalten. 
    </p>
</article>
-->

<!--
<article>
    <h3>Sommerhonig aus 2023</h3>
    <br>
    <img    src="../../static/main/images/Shop/Sommerhoig_2023_ausverkauft_512.jpg" 
            {% comment %} srcset="../../static/main/images/Shop/Sommerhoig_2023_ausverkauft_512.jpg 512w"
            size="(max-width: 768px) 512px" {% endcomment %}
            alt="Bild des Sommerhonigs aus 2023" 
            id="responsive-picture" 
            class="shop">
    <p class="text_center">
        Der Sommerhonig aus 2023 ist ausverkauft.<br> 
        <br>Der Sommerhonig von meinen Bienen im Kleingartenverein ist durch die diesjährige Blattlauspopulation recht dunkel geworden.<br>
        Wer also einen sehr kräftigen Honig möchte, der in Richtung Waldhonig geht, sollte zum Honig aus der Horner Marsch greifen.<br>
        <br>Der Sommerhonig von meinen Bienen in Billwerder ist ein starker Blütenhonig geworden. Ein absolutes Muss für jeden Blütenhonig-Fan.<br>
    </p>
</article>
-->
<!-- JS Script -->
<script src="../../static/main/js/imageContainer2.js"></script>
{% endblock %}