{% extends 'base.html' %}

{% block title %}Naturbienen.de{% endblock %}

{% with active_link="index" %}
{% endwith %}

{% block header %}
<div class="header">
    <div class="header-content">
        <h1>Naturbienen</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>Impressum</h2>

<article>
    <p>Anbieter dieser Internetseite ist: <br>
    Marten Frehse <br>
    KlgV. 142, 229 <br>
    22111 Hamburg <br>
    Handynummer: 0151 17865053 <br>
    E-Mail: Marten@naturbienen.de <br>
    Inhaltlich Verantwortlicher gemäß § 18 Abs. 2 MStV: Marten Frehse <br>
</p>
</article>

{% endblock %}