{% extends 'base.html' %}

{% block title %}Naturbienen.de{% endblock %}

{% with active_link="index" %}
{% endwith %}

<!-- {% block header %}
    <div class="header">
        <div class="header-content">
            <h1>Naturbienen</h1>
        </div>
    </div>
{% endblock %} -->


{% block content %}
    <h2>Willkommen auf meiner kleinen Website</h2>
    <p></p>

    <article>
        <h3>Aktuelles</h3>
        <p>
            Der Frühtrachthonig ist abgefüllt und ab jetzt erhältlich. 
        </p>
    </article>

{% endblock %}