<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{% block title %}Naturbienen.de{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="description" 
            content="Ein Hobby-Imker aus Hamburg informiert über das Imkern, die Bienen, 
            die Wildbienen und vieles mehr. Wenn Sie sich für das Imkern, Honig oder alles was damit 
            zusammenhängt interessieren sind Sie hier ganz richtig.">
            <!-- Die Beschreibung muss noch verbessert werden! --> 
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <!-- adding Stylesheet -->
            <link rel="stylesheet" href="../../static/main/css/styles.css">
            <!-- Icons geadded für verschiedene Geräte -->
            <link rel="apple-touch-icon" sizes="57x57" href="../../static/main/images/Icon/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="../../static/main/images/Icon/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="../../static/main/images/Icon/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="../../static/main/images/Icon/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="../../static/main/images/Icon/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="../../static/main/images/Icon/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="../../static/main/images/Icon/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="../../static/main/images/Icon/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="../../static/main/images/Icon/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192"  href="../../static/main/images/Icon/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="../../static/main/images/Icon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="../../static/main/images/Icon/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="../../static/main/images/Icon/favicon-16x16.png">
            <link rel="manifest" href="../../static/main/images/Icon/manifest.json">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="../../static/main/images/Icon/ms-icon-144x144.png">
            <meta name="theme-color" content="#ffffff">
            <!-- Link Fonts -->
            <link rel="stylesheet" href="../../static/main/fonts/css/fontawesome.css">
            <link rel="stylesheet" href="../../static/main/fonts/css/solid.css">
            <link rel="stylesheet" href="../../static/main/fonts/webfonts/fa-solid-900.ttf">
            <link rel="stylesheet" href="../../static/main/fonts/webfonts/fa-solid-900.woff2">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
            <script src="../../static/main/js/imageContainer2.js"></script>
            {% block extra_css %}{% endblock%}
    </head>
<body>
    <header>
        
        <!-- Navigation Bar -->
        <div class="topnav" id="myTopnav">
            <a href="{% url 'index' %}" {% if active_link == 'index' %}class="active"{% endif %}>Startseite</a>
            <a href="{% url 'biene' %}" {% if active_link == 'biene' %}class="active"{% endif %}>Biene</a>
            <a href="{% url 'wildbiene' %}" {% if active_link == 'wildbiene' %}class="active"{% endif %}>Wildbiene</a>
            <a href="{% url 'honig' %}" {% if active_link == 'shop' %}class="active"{% endif %}>Honig</a>
            <a class="icon" onclick="navBar()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <!-- Header Banner --> 
        {% block header %}
            <h1>Default Header</h1>
        {% endblock %}
        
        <!-- JS Script -->
        <script src="../../static/main/js/navbar.js"></script>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer id="footer">
        <!-- Bottom NavBar -->
        <div class="bottom-nav">
            <!-- <a href="{% url 'index' %}">Startseite</a> -->
            <a href="{% url 'impressum' %}">Impressum</a> 
            <a href="{% url 'kontakt' %}">Kontakt</a>
            <div class="copyright-container">
                <p class="copyright">&copy; {{ current_year }} Naturbienen. All rights reserved. | www.naturbienen.de</p>
            </div>
            </div>
    </footer>
</body>
</html>