<html lang="de">
    <head>
        <title>{% block title %}Naturbienen.de{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="description" 
            content="Ein Hobby-Imker aus Hamburg informiert über das Imkern, die Bienen, 
            die Wildbienen und vieles mehr. Wenn Sie sich für das Imkern, Honig oder alles was damit 
            zusammenhängt interessieren sind Sie hier ganz richtig.">
            <!-- Die Beschreibung muss noch verbessert werden! --> 
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <!-- adding Stylesheet -->
            <link rel="stylesheet" href="style.css">
            <!-- Icons geadded für verschiedene Geräte -->
            <link rel="apple-touch-icon" sizes="57x57" href="Bilder/Icon/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="Bilder/Icon/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="Bilder/Icon/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="Bilder/Icon/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="Bilder/Icon/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="Bilder/Icon/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="Bilder/Icon/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="Bilder/Icon/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="Bilder/Icon/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192"  href="Bilder/Icon/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="Bilder/Icon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="Bilder/Icon/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="Bilder/Icon/favicon-16x16.png">
            <link rel="manifest" href="Bilder/Icon/manifest.json">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="Bilder/Icon/ms-icon-144x144.png">
            <meta name="theme-color" content="#ffffff">
            <!-- Link Fonts -->
            <link rel="stylesheet" href="fonts/css/fontawesome.css">
            <link rel="stylesheet" href="fonts/css/solid.css">
            <link rel="stylesheet" href="fonts/webfonts/fa-solid-900.ttf">
            <link rel="stylesheet" href="fonts/webfonts/fa-solid-900.woff2">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <h1 class="head-headline">Naturbienen</h1>
        <p class="head-description">Alles über die Biene, das Imkern und den Honig.</p>
        <!-- Navigation Bar -->
        <div class="topnav" id="myTopnav">
            <a href="index.html" class="active">Startseite</a>
            <a href="Sites/biene.html">Biene</a>
            <a href="Sites/wildbiene.html">Wildbiene</a>
            <a href="Sites/shop.html">Shop</a>
            <a class="icon" onclick="navBar()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- JS Script -->
        <script src="navbar.js"></script>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer id="footer">
        <!-- Bottom NavBar -->
        <div class="bottom-nav">
            <a href="index.html">Startseite</a> 
            <a href="Sites/impressum.html">Impressum</a> 
            <a href="Sites/kontakt.html">Kontakt</a>
          </div>
    </footer>
</body>
</html>